
/* -----------------------------
        Box model
 ----------------------------- */

a{
    /* text-decoration: none; */

    /* Shordhand */
    /* border-width: 1px;
    border-style: solid;
    border-color: black; */
    /* border: 1px solid black; */

    /* Espacio interno */

    /* padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px; */

    /* A todos los lados */
    /* padding: 10px;  */

    /* y - x */
    /* padding: 10px 5px;  */

    /* 4 valores arriba */
    /* padding: 1px 2px 3px 4px; */

    /* Espacio externo */
    /* margin-right:10px; */
}


/* button{
    border: none;
} */



/* -----------------------------
        Ejercicio 1
 ----------------------------- */
.button-gray{
    padding: 8px;
    border: 1px solid black;
    margin-right: 10px;

    /* Extras */
    font-size: 12px;
    background: gray;
    color: white;
    text-decoration: none;
}




